/* Created by: Katie
* Created on: March 2022
* This CSS file defines the style for index.html
* ICS2O-Assign-01-HTML-CSS-JSS
*/

h1 {
  background-color: rgb(98, 133, 128);
  color: rgb(255, 248, 230);
  padding: 10px;
}

p {
  color: rgb(98, 133, 128);
  background-color: mintcream;
}

h3 {
  background-color: rgb(138, 184, 178);
  color: rgb(255, 248, 230);
}

body {
  background-color: rgb(255, 248, 230);
}

img {
  border: 10px solid rgb(98, 133, 128);
}